/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/**
!--signup form--!
aHR0cHM6Ly9kb2NzLmdvb2dsZS5jb20vZm9ybXMvZC9lLzFGQUlwUUxTZEpJVnM2Q0I2dmpoVzM2bzBpNkNlc0hnbHdtdkpjaTFiekU1QzBJekM2bmtIZXV3L3ZpZXdmb3Jt
!--signup form--!
*/

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
